<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Websocket </ion-title>
    <ion-buttons slot="end">
      <ion-toggle (ionChange)="toggleConnection($event.detail.checked)">
        <ion-label> Conexão</ion-label>
      </ion-toggle>
      <ion-button>
        <i
          [ngClass]="(connectionStatus$ | async) ? 'connected' : 'disconnected'"
        ></i>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
@if(!trades.length && (connectionStatus$ | async)) {
  <app-loader />
} @else {
    <app-chart></app-chart>
    <app-card-trade [trade]="lastTrade"></app-card-trade>
}
</ion-content>

